body {
    /*color: red;*/
    text-align: center;
    margin-top: 10vw;
}

input {
    width: 50%;
    height: 3em;
    line-height: 3em;
}

img {
    height: 10vw;
}

#dropdown {
    border: 1px black solid;
    text-align: left;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}