body {
    /*color: red;*/
    text-align: center;
    margin-top: 10vw;
}

#input {
    width: 50vw;
    height: 3em;
    line-height: 3em;
}

#left {
    float: left;
}

#center{
    width: 63%;
    margin-left: auto;
    margin-right: auto;
}

#top {
    font-style: italic;
    color: gray;
}

#submit {
    height: 3em;
    line-height: 3em;
    float: left;
}

input {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

img {
    height: 10vw;
}

#dropdown {
    width: 50vw;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}

.border {
    border: 1px black solid;
}

span {
    float: right;
}